div .card-body {
    background-color: #fff0ee;
    padding: 1rem 1.5rem;
} 
/* přidáním div zvýším specificitu a už mi to nemůže přepsat */

h5 { 
text-transform: uppercase;
margin-bottom: 1rem;
}

.card-body button {
    background-color: #b10849;
    border: #b10849;
}